<mat-toolbar style= "height:15%; background-color: #770D15; background-size: 20%;" >
    <span class= "header-font"><img src="../assets/images/pizza_logo.png"width="100" height="100" >Crunchy Royal Pizza</span>
    </mat-toolbar>

<body background="../assets/images/pizza-background.jpeg" style="background-size: 500px 500px;">

<hr />
<div>
    <div class="div">
        <h1 class= "headers-font">Nuevo Producto</h1>
    </div>
</div>
<hr />
<div class="divPanelExtraBig paragraph-font">
    <form #productForm="ngForm" (ngSubmit)="fnSalvar(productForm.value)">
        <div class="form-group"
        [ngClass]="{
            error:
            productForm.controls.title?.invalid &&
            productForm.controls.title?.touched
        }"
        >
            <label for="title">Título: </label>
            <em *ngIf="productForm.controls.title?.invalid &&
            productForm.controls.title?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="title"
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Título de pizza..."
                required
            />
        </div>
        <div class="form-group"
        [ngClass]="{
            error:
            productForm.controls.description?.invalid &&
            productForm.controls.description?.touched
        }"
        >
            <label for="description">Descripción: </label>
            <em *ngIf="productForm.controls.description?.invalid &&
            productForm.controls.description?.touched"
            >Campo requerido</em>
            <textarea
                [(ngModel)]="description"
                type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="Descripción..."
                required
            >
            </textarea>
        </div>
        <div class="form-group"
        [ngClass]="{
            error:
            productForm.controls.price?.invalid &&
            productForm.controls.price?.touched
        }"
        >
            <label for="price">Precio: </label>
            <em *ngIf="productForm.controls.price?.invalid &&
            productForm.controls.price?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="price"
                type="text"
                class="form-control"
                id="price"
                name="price"
                placeholder="Precio..."
                required
            />
        </div>
        <div class="form-group"
        [ngClass]="{
            error:
            productForm.controls.imageUrl?.invalid &&
            productForm.controls.imageUrl?.touched
        }"
        >
            <label for="imageUrl">Url de imagen: </label>
            <em *ngIf="productForm.controls.imageUrl?.invalid &&
            productForm.controls.imageUrl?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="imageUrl"
                type="text"
                class="form-control"
                id="imageUrl"
                name="imageUrl"
                placeholder="Url de imagen..."
                required
            />
        </div>
        <div class="form-group" style="margin-top: 3px;">
            <button
                type="button"
                class="btn btn-outline-light"
                style="margin-right: 15px;"
                data-bs-toggle="modal" 
                data-bs-target="#staticBackdropRegresar"
            >
                Cancelar
            </button>
            <button
                type="submit"
                [disabled]="productForm.invalid"
                class="btn btn-success"
            >
                Salvar
            </button>

            <!--Modal para Cancelar-->
            <div *ngIf="fnHasData">
                <div class="modal fade" id="staticBackdropRegresar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" style="color: black; font-weight: bold;">Eliminar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="color: black; font-size: medium;"> No ha salvado el producto, ¿está seguro
                            que desea continuar?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="fnBackToMenu()">Aceptar</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>