<mat-toolbar style= "height:15%; background-color: #770D15; background-size: 20%;" >
    <span class= "header-font"><img src="../assets/images/pizza_logo.png"width="100" height="100" >Crunchy Royal Pizza</span>
    </mat-toolbar>

<body class="fondoPizzas" style="background-size: 500px 500px;">


    <hr />
    <div>
        <div class="div">
            <h1 class= "headers-font">Información Pedido a Realizar</h1>
        </div>
    </div>
    
    <hr />
    <div class="divPanelBig paragraph-font">
    <form #orderDetailForm="ngForm" (ngSubmit)="fnEnviar(orderDetailForm.value)">
        <div class="form-group"
            [ngClass]="{
                error:
                orderDetailForm.controls.name?.invalid &&
                orderDetailForm.controls.name?.touched
            }"
        >
            <label for="name">Nombre de quien recibe: </label>
            <em *ngIf="orderDetailForm.controls.name?.invalid &&
                orderDetailForm.controls.name?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="name"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nombre..."
                required
            />
        </div>
        <div class="form-group"
            [ngClass]="{
                error:
                orderDetailForm.controls.delivery?.invalid &&
                orderDetailForm.controls.delivery?.touched
            }"
        >
            <label for="delivery">Dirección de entrega: </label>
            <em *ngIf="orderDetailForm.controls.delivery?.invalid &&
                orderDetailForm.controls.delivery?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="delivery"
                type="text"
                class="form-control"
                id="delivery"
                name="delivery"
                placeholder="Dirección..."
                required
            />
        </div>
        <div class="form-group"
            [ngClass]="{
                error:
                orderDetailForm.controls.number?.invalid &&
                orderDetailForm.controls.number?.touched
            }"    
        >
            <label for="number">Número de Telefono: </label>
            <em *ngIf="orderDetailForm.controls.number?.invalid &&
                orderDetailForm.controls.number?.touched"
            >Campo requerido</em>
            <input
                [(ngModel)]="number"
                type="text"
                class="form-control"
                id="number"
                name="number"
                placeholder="Teléfono..."
                required
            />
        </div>
        <div>
            <h5 style="color:#770D15">***Pago solo en efectivo</h5>
        </div>
        <div class="form-group" style="margin-top: 3px;">
            <button
                type="button"
                class="btn btn-outline-light"
                style="margin-right: 15px;"
                (click)="fnBackToMenu()"
            >
                Regresar
            </button>
            <button
                type="submit"
                [disabled]="orderDetailForm.invalid"
                class="btn btn-success"
            >
                Enviar Pedido
            </button>
        </div>
    </form>
</div>
