<h1>Sign In</h1>
<hr />
<div>
    <form #signinForm="ngForm" (ngSubmit)="fnSigin(signinForm.value)">
        <div class="form-group">
            <label for="email">Correo: </label>
            <input
                [(ngModel)]="email"
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="email..."
                required
            />
        </div>
        <div class="form-group">
            <label for="name">Nombre: </label>
            <input
                [(ngModel)]="name"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="name..."
                required
            />
        </div>
        <div class="form-group">
            <label for="password">Contraseña: </label>
            <input
                [(ngModel)]="password"
                type="text"
                class="form-control"
                id="password"
                name="password"
                placeholder="password..."
                required
            />
        </div>
        <div class="form-group">
            <button
                type="submit"
                [disabled]="signinForm.invalid"
                class="btn btn-success"
            >
                Signin
            </button>
        </div>

    </form>
</div>